# Health Organization Database Project

<hr>

author: __Dylan Kayyem__

sid: __dyga6971__

github: __dylankayyem__

course: __3287__

#### $\text{Project Description:}$

    Any new Patient is first registered in their database before meeting the doctor. The Doctor can update the data related to the patient upon diagnosis, including the disease diagnosed and prescription. This organization also provides rooms facility for admitting the patient who is critical. Apart from doctors, this organization has nurses and “ward boy”. Each nurse and “ward boy” is assigned to a doctor. They can be assigned to patients, to take care of them. The bill is paid by the patient with two payment options: Cash or E-Banking. A record of each payment made is also maintained by the organization. The record of each call received to provide help and support to its existing person is also maintained.

<hr>

In [1]:
import os
import configparser

mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("../mysql.cfg") # Load the database configuration from the config file
user, passwd = mysqlcfg['mysql']['user'], mysqlcfg['mysql']['passwd']
dburl = f"mysql://{user}:{passwd}@applied-sql.cs.colorado.edu:3306/{user}"
print (f"mysql://{user}:xxxx@applied-sql.cs.colorado.edu:3306/{user}")
os.environ['DATABASE_URL'] = dburl # define this env. var for sqlmagic

mysql://dyga6971:xxxx@applied-sql.cs.colorado.edu:3306/dyga6971

In [2]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.33',)]

# SQL Tables:

In [3]:
%%sql
DROP TABLE IF EXISTS appointment_table;
DROP TABLE IF EXISTS care_assignment_table;
DROP TABLE IF EXISTS call_record_table;
DROP TABLE IF EXISTS payment_table;
DROP TABLE IF EXISTS room_table;
DROP TABLE IF EXISTS ward_table;
DROP TABLE IF EXISTS nurse_table;
DROP TABLE IF EXISTS doctor_table;
DROP TABLE IF EXISTS patient_table;

# Patient Table:
CREATE TABLE patient_table (
    Patient_ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Address TEXT,
    Phone VARCHAR(30),
    Email VARCHAR(255),
    Date_Of_Registration DATE,
    Disease_Diagnosed TEXT,
    Prescription TEXT
);

# Doctor Table:
CREATE TABLE doctor_table (
    Doctor_ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Phone VARCHAR(30),
    Email VARCHAR(255),
    Specialization VARCHAR(255),
    Availability TINYINT
);

# Nurse Table:
CREATE TABLE nurse_table (
    Nurse_ID INT AUTO_INCREMENT PRIMARY KEY,
    Doctor_ID INT,
    Name VARCHAR(255) NOT NULL,
    Phone VARCHAR(30),
    Email VARCHAR(255),
    FOREIGN KEY (Doctor_ID) REFERENCES doctor_table(Doctor_ID)
);

# Ward Boy Table:
CREATE TABLE ward_table (
    Ward_ID INT AUTO_INCREMENT PRIMARY KEY,
    Doctor_ID INT,
    Name VARCHAR(255) NOT NULL,
    Phone VARCHAR(30),
    Email VARCHAR(255),
    FOREIGN KEY (Doctor_ID) REFERENCES doctor_table(Doctor_ID)
);

# Room Table:
CREATE TABLE room_table (
    Room_Number INT PRIMARY KEY,
    Type VARCHAR(50),
    Date_Of_Status DATE,
    Patient_ID INT,
    FOREIGN KEY (Patient_ID) REFERENCES patient_table(Patient_ID) ON DELETE SET NULL
);

# Payment Table:
CREATE TABLE payment_table (
    Payment_ID INT AUTO_INCREMENT PRIMARY KEY,
    Patient_ID INT,
    Amount DECIMAL(10, 2),
    Date_Of_Payment DATE,
    Payment_Method ENUM('Cash', 'E-banking') NOT NULL,
    FOREIGN KEY (Patient_ID) REFERENCES patient_table(Patient_ID)
);

# Call Record Table:
CREATE TABLE call_record_table (
    Call_ID INT AUTO_INCREMENT PRIMARY KEY,
    Patient_ID INT,
    Caller_Phone VARCHAR(30) NOT NULL,
    Date_Time_Of_Call DATETIME NOT NULL,
    Purpose ENUM('Support', 'Help') NOT NULL,
    Description TEXT,
    FOREIGN KEY (Patient_ID) REFERENCES patient_table(Patient_ID)
);

# Care Assignment Table:
CREATE TABLE care_assignment_table (
    Care_ID INT AUTO_INCREMENT PRIMARY KEY,
    CareProvider_ID INT,
    CareProvider_Type ENUM('Nurse', 'WardBoy') NOT NULL,
    Patient_ID INT,
    Start_Date DATE,
    End_Date DATE,
    FOREIGN KEY (Patient_ID) REFERENCES patient_table(Patient_ID),
    FOREIGN KEY (CareProvider_ID) REFERENCES nurse_table(Nurse_ID) 
    ON DELETE SET NULL ON UPDATE CASCADE,
    FOREIGN KEY (CareProvider_ID) REFERENCES ward_table(Ward_ID) 
    ON DELETE SET NULL ON UPDATE CASCADE
);

# New Appointment Table:
CREATE TABLE appointment_table (
    Appointment_ID INT AUTO_INCREMENT PRIMARY KEY,
    Patient_ID INT,
    Doctor_ID INT,
    Appointment_DateTime DATETIME NOT NULL,
    Reason TEXT,
    FOREIGN KEY (Patient_ID) REFERENCES patient_table(Patient_ID),
    FOREIGN KEY (Doctor_ID) REFERENCES doctor_table(Doctor_ID)
);

 * mysql://dyga6971:***@applied-sql.cs.colorado.edu:3306/dyga6971
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [4]:
from datetime import datetime
import mysql.connector
import configparser
import pandas as pd
import random
import faker
import csv
fake = faker.Faker()

# patient_table

In [5]:
# Function to generate patient_data:
def generate_patient_data(num_patient):
    diseases = ['Arthritis', 'Epilepsy', 'Anemia', 'Diabetes', 'Allergies', 'Migraine', 'Anemia', 'Hypertension', 'Gastritis', 'Asthma', 'Bronchitis']
    prescriptions = ['Levothyroxine', 'Atorvastatin', 'Metroprolol', 'Gabapentin', 'Amlodipine', 'Simvastatin', 'Omeprazole', 'Losartan', 'Metformin', 'Lisinopril']
    patient_data = []
    for i in range(1, num_patient + 1):
        patient = {
            'Patient_ID': i,
            'Name': fake.name(),
            'Address': fake.address(),
            'Phone': fake.phone_number(),
            'Email': fake.email(),
            'Date_Of_Registration': fake.date_between(start_date="-1y", end_date="today"),
            'Disease_Diagnosed': random.choice(diseases),
            'Prescription': random.choice(prescriptions)
        }
        patient_data.append(patient)
    print("[patient_data] successfully generated!")
    return patient_data

num_patients = 100
patient_data = generate_patient_data(num_patients)

df_patient = pd.DataFrame(patient_data, columns=["Patient_ID", "Name", "Address", "Phone", "Email", "Date_Of_Registration", "Disease_Diagnosed", "Prescription"])
csv_file_path_draft = '../Project/sample_data/patient_data.csv'
df_patient.to_csv(csv_file_path_draft, index=False)
csv_file_path_draft

[patient_data] successfully generated!

'../Project/sample_data/patient_data.csv'

In [6]:
# Insert patient_data into patient_table:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("../mysql.cfg")  
db_config = mysqlcfg['mysql']
db = mysql.connector.connect(
    host="applied-sql.cs.colorado.edu",
    user=db_config['user'],
    passwd=db_config['passwd'],
    database=db_config['user']
)
cursor = db.cursor()
csv_file_path = '../Project/sample_data/patient_data.csv'
try:
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader) 
        for row in csv_reader:
            cursor.execute(
                "INSERT INTO patient_table (Name, Address, Phone, Email, Date_Of_Registration, Disease_Diagnosed, Prescription) VALUES (%s, %s, %s, %s, %s, %s, %s)", 
                row[1:]  
            )
    db.commit()
    print("[patient_data] successfully inserted into [patient_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    cursor.close()
    db.close()

[patient_data] successfully inserted into [patient_table]!

# Creating & Inserting Data into doctor_table:

In [7]:
# Generating random data for doctors, nurses, and ward boys tables
def generate_doctor_data(num_doctors):
    doctor_data = []
    specializations = ['Cardiology', 'Neurology', 'Pediatrics', 'Orthopedics', 'Oncology']
    for i in range(1, num_doctors+1):
        doctor = {
            'Doctor_ID': i,
            'Name': fake.name(),
            'Phone': fake.phone_number(),
            'Email': fake.email(),
            'Specialization': random.choice(specializations),
            'Availability': random.randint(0, 1)  
        }
        doctor_data.append(doctor)
    print("[doctor_data] successfully generated!")
    return doctor_data

num_doctors = 20
doctor_data = generate_doctor_data(num_doctors)

df_doctors = pd.DataFrame(doctor_data, columns=["Doctor_ID", "Name", "Phone", "Email", "Specialization", "Availability"])
csv_doctor_file_path = '../Project/sample_data/doctor_data.csv'
df_doctors.to_csv(csv_doctor_file_path, index=False)
csv_doctor_file_path

[doctor_data] successfully generated!

'../Project/sample_data/doctor_data.csv'

In [8]:
# Insert doctor_data into doctor_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/doctor_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute(
                "INSERT INTO doctor_table (Name, Phone, Email, Specialization, Availability) VALUES (%s, %s, %s, %s, %s)", 
                row[1:]  
            )
    db.commit()
    print("[doctor_data] successfully inserted into [doctor_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    cursor.close()
    db.close()

[doctor_data] successfully inserted into [doctor_table]!

#  nurse_table / ward_table

In [9]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("../mysql.cfg")  
db_config = mysqlcfg['mysql']
db = mysql.connector.connect(
    host="applied-sql.cs.colorado.edu",
    user=db_config['user'],
    passwd=db_config['passwd'],
    database=db_config['user']
)
cursor = db.cursor()

# Function to generate nurse_data & ward_data :
def generate_ward_and_nurse_data(num_wards, num_nurses):
    wards = []
    nurses = []
    # doctor_ids is set to doctor IDs from table:
    cursor.execute("SELECT Doctor_ID FROM doctor_table")
    doctor_ids = [doctor_id[0] for doctor_id in cursor.fetchall()]
    for i in range(1, num_wards + 1):
        ward = {
            'Ward_ID': i,
            'Doctor_ID': random.choice(doctor_ids),
            'Name': fake.name(),
            'Phone': fake.phone_number(),
            'Email': fake.email(),
        }
        wards.append(ward)
    for i in range(1, num_nurses + 1):
        nurse = {
            'Nurse_ID': i,
            'Doctor_ID': random.choice(doctor_ids),
            'Name': fake.name(),
            'Phone': fake.phone_number(),
            'Email': fake.email(),
        }
        nurses.append(nurse)
    print("[nurse_data] / [ward_data] successfully generated!")
    return wards, nurses

num_wards = 40  
num_nurses = 40
ward_data, nurse_data = generate_ward_and_nurse_data(num_wards, num_nurses) 

df_wards = pd.DataFrame(ward_data, columns=["Ward_ID", "Doctor_ID", "Name", "Phone", "Email"])
csv_nurse_file_path = '../Project/sample_data/ward_data.csv'
df_wards.to_csv(csv_nurse_file_path, index=False)
csv_nurse_file_path
df_nurses = pd.DataFrame(nurse_data, columns=["Nurse_ID", "Doctor_ID", "Name", "Phone", "Email"])
csv_nurse_file_path = '../Project/sample_data/nurses_data.csv'
df_nurses.to_csv(csv_nurse_file_path, index=False)
csv_nurse_file_path

[nurse_data] / [ward_data] successfully generated!

'../Project/sample_data/nurses_data.csv'

In [10]:
# Insert nurse_data into nurse_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/nurse_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute(
                "INSERT INTO nurse_table (Doctor_ID, Name, Phone, Email) VALUES (%s, %s, %s, %s)", 
                row[1:]  
            )
    db.commit()
    print("[nurse_data] successfully inserted into [nurse_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    cursor.close()
    db.close()

[nurse_data] successfully inserted into [nurse_table]!

In [11]:
# Insert ward_data into ward_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/ward_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute("""
                INSERT INTO ward_table (Doctor_ID, Name, Phone, Email) 
                VALUES (%s, %s, %s, %s)
                """, row[1:])  
    db.commit()
    print("[ward_data] successfully inserted into [ward_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    cursor.close()
    db.close()

[ward_data] successfully inserted into [ward_table]!

# care_assignment_table

In [12]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("../mysql.cfg")  
db_config = mysqlcfg['mysql']
db = mysql.connector.connect(
    host="applied-sql.cs.colorado.edu",
    user=db_config['user'],
    passwd=db_config['passwd'],
    database=db_config['user']
)
cursor = db.cursor()

# Function to generate care_assignment_data:
def generate_care_assignment_data(num_assignment):
    care_assignments = []
    cursor.execute("SELECT Patient_ID FROM patient_table")
    patients_id = [patient_id[0] for patient_id in cursor.fetchall()]    
    cursor.execute("SELECT Nurse_ID FROM nurse_table")
    nurses_ids =  [nurse_id[0] for nurse_id in cursor.fetchall()] 
    cursor.execute("SELECT Ward_ID FROM ward_table")
    wards_ids =  [ward_id[0] for ward_id in cursor.fetchall()]    
    for i in range(1, num_assignment + 1):
        CareProvider_Type = random.choice(['Nurse', 'WardBoy'])  
        care_assignment = {
            'Care_ID': i,
            'CareProvider_ID': random.choice(nurses_ids if CareProvider_Type == 'Nurse' else wards_ids),
            'CareProvider_Type': random.choice(['Nurse', 'WardBoy']),
            'Patient_ID': random.choice(patients_id),
            'Start_Date': fake.date_between(start_date="-1y", end_date="today"),
            'End_Date': fake.date_between(start_date="today", end_date="+1y"),
        }
        care_assignments.append(care_assignment)
    print("[care_assignment_data] successfully generated!")
    return care_assignments

num_assignments = 100
care_assignment_data = generate_care_assignment_data(num_assignments)

df_care_assignments = pd.DataFrame(care_assignment_data, columns=['CareProvider_ID', 'CareProvider_Type', 'Patient_ID', 'Start_Date', 'End_Date'])
csv_care_assignment_file_path = '../Project/sample_data/care_assignment_data.csv'
df_care_assignments.to_csv(csv_care_assignment_file_path, index=False)
csv_care_assignment_file_path

[care_assignment_data] successfully generated!

'../Project/sample_data/care_assignment_data.csv'

In [13]:
# Insert care_assignment_data into care_assignment_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/care_assignment_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute("""
                INSERT INTO care_assignment_table (CareProvider_ID, CareProvider_Type, Patient_ID, Start_Date, End_Date)
                VALUES (%s, %s, %s, %s, %s)
                """, row)  
    db.commit()
    print("[care_assignment_data] successfully inserted into [care_assignment_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    cursor.close()
    db.close()

[care_assignment_data] successfully inserted into [care_assignment_table]!

# room_table

In [14]:
# Function to generate room_data:
def generate_room_data(num_rooms):
    room_types = ['Single', 'Double', 'Deluxe', 'Suite']
    rooms = []
    for i in range(1, num_rooms + 1):
        room_number = i
        room_type = random.choice(room_types)
        patient_id = random.choice([1, random.randint(1, 100)])  
        date_of_status = fake.date_between(start_date="-1y", end_date="today")
        rooms.append({
            'Room_Number': room_number,
            'Type': room_type,
            'Date_Of_Status': date_of_status,
            'Patient_ID': patient_id
        })
    print("[room_data] successfully generated!")
    return rooms

num_rooms = 50
room_data = generate_room_data(num_rooms)

df_room = pd.DataFrame(room_data, columns=["Room_Number", "Type", "Date_Of_Status", "Patient_ID"])
csv_room_file_path = '../Project/sample_data/room_data.csv'
df_room.to_csv(csv_room_file_path, index=False)
csv_room_file_path

[room_data] successfully generated!

'../Project/sample_data/room_data.csv'

In [15]:
# Insert room_data into room_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/room_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute("""
                INSERT INTO room_table (Room_Number, Type, Date_Of_Status, Patient_ID)
                VALUES (%s, %s, %s, %s)
                """, row)
    db.commit()
    print("[room_data] successfully inserted into [room_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    if cursor:
        cursor.close()
    if db:
        db.close()

[room_data] successfully inserted into [room_table]!

# payment_table:

In [16]:
# Function to generate payment_data:
def generate_payment_data(num_payment, num_patient):
    data = []
    for _ in range(num_payment):
        payment_id = _ + 1
        patient_id = random.randint(1, num_patient)
        amount = round(random.uniform(100, 1000), 2)
        date_of_payment = fake.date_between_dates(date_start=datetime(2020, 1, 1), date_end=datetime(2023, 1, 1)).strftime('%Y-%m-%d')
        payment_method = random.choice(['Cash', 'E-banking'])
        data.append([payment_id, patient_id, amount, date_of_payment, payment_method])
    print("[payment_data] successfully generated!")
    return data

num_payments = 100
num_patients = 100
payment_data = generate_payment_data(num_payments, num_patients)  

df_payment = pd.DataFrame(payment_data, columns=["Payment_ID", "Patient_ID", "Amount", "Date_Of_Payment", "Payment_Method"])
csv_payment_file_path = '../Project/sample_data/payment_data.csv'
df_payment.to_csv(csv_payment_file_path, index=False)
csv_payment_file_path

[payment_data] successfully generated!

'../Project/sample_data/payment_data.csv'

In [17]:
# Insert payment_data into payment_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/payment_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute("""
                INSERT INTO payment_table (Patient_ID, Amount, Date_Of_Payment, Payment_Method)
                VALUES (%s, %s, %s, %s)
            """, row[1:])  
    db.commit()
    print("[payment_data] successfully inserted into [payment_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    if cursor:
        cursor.close()
    if db:
        db.close()

[payment_data] successfully inserted into [payment_table]!

# call_record_table

In [18]:
# Function to generate call_record_data:
def generate_call_record_data(num_record, num_patient):
    data = []
    for _ in range(num_record):
        call_id = _ + 1
        patient_id = random.randint(1, num_patient)
        caller_phone = fake.phone_number()
        date_time_of_call = fake.date_time_between(start_date="-2y", end_date="now").strftime('%Y-%m-%d %H:%M:%S')
        purpose = random.choice(['Support', 'Help'])
        description = fake.text(max_nb_chars=200)
        data.append([call_id, patient_id, caller_phone, date_time_of_call, purpose, description])
    print("[call_record_data] successfully generated!")
    return data

num_records = 100
num_patients = 100
call_record_data = generate_call_record_data(num_records, num_patients)  

df_call_record = pd.DataFrame(call_record_data, columns=["Call_ID", "Patient_ID", "Caller_Phone", "Date_Time_Of_Call", "Purpose", "Description"])
csv_call_record_file_path = '../Project/sample_data/call_record_data.csv'
df_call_record.to_csv(csv_call_record_file_path, index=False)
csv_call_record_file_path

[call_record_data] successfully generated!

'../Project/sample_data/call_record_data.csv'

In [19]:
# Insert call_record_data into call_record_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/call_record_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader) 
        for row in csv_reader:
            cursor.execute("""
                INSERT INTO call_record_table (Patient_ID, Caller_Phone, Date_Time_Of_Call, Purpose, Description)
                VALUES (%s, %s, %s, %s, %s)
            """, row[1:])  
    db.commit()
    print("[call_record_data] successfully inserted into [call_record_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    if cursor:
        cursor.close()
    if db:
        db.close()

[call_record_data] successfully inserted into [call_record_table]!

# appointment_table

In [20]:
# Function to generate appointment_data:
def generate_appointment_data(num_appointment):
    data = []
    num_patient = 100 
    num_doctor = 20
    for i in range (1, num_appointment + 1):
        data.append({
            'Appointment_ID': i,
            'Patient_ID': random.randint(1, num_patient),
            'Doctor_ID':random.randint(1, num_doctor),
            'Appointment_DateTime': fake.date_between(start_date="today", end_date="+1y"),
            'Reason': random.choices(['Checkup', 'Consultation', 'Follow-up', 'Emergency'])
        })
    print("[appointment_data] successfully generated!")
    return data

num_appointments = 250
data = generate_appointment_data(num_appointments)

df_appointment = pd.DataFrame(data, columns=["Appointment_ID", "Patient_ID", "Doctor_ID", "Appointment_DateTime", "Reason"])
df_appointment.to_csv('../Project/sample_data/appointment_data.csv', index=False)

[appointment_data] successfully generated!

In [21]:
# Insert appointment_data into appointment_table:
try:
    mysqlcfg = configparser.ConfigParser()
    mysqlcfg.read("../mysql.cfg")  
    db_config = mysqlcfg['mysql']
    db = mysql.connector.connect(
        host="applied-sql.cs.colorado.edu",
        user=db_config['user'],
        passwd=db_config['passwd'],
        database=db_config['user']
    )
    cursor = db.cursor()
    csv_file_path = '../Project/sample_data/appointment_data.csv'
    with open(csv_file_path, mode='r', encoding='utf-8-sig') as csvfile:
        csv_reader = csv.reader(csvfile)
        next(csv_reader)  
        for row in csv_reader:
            cursor.execute("""
                INSERT INTO appointment_table (Patient_ID, Doctor_ID, Appointment_DateTime, Reason)
                VALUES ( %s, %s, %s, %s)
            """, row[1:])  
    db.commit()
    print("[appointment_data] successfully inserted into [appointment_table]!")
except mysql.connector.Error as e:
    print(f"Error: {e}")
    db.rollback()
finally:
    if cursor:
        cursor.close()
    if db:
        db.close()

[appointment_data] successfully inserted into [appointment_table]!

<hr>

# Printing Tables After Inserting Data:

In [22]:
df_patient.head(5)

,Patient_ID,Name,Address,Phone,Email,Date_Of_Registration,Disease_Diagnosed,Prescription
0,1,Julie Garcia,"26239 Matthew Court Apt. 341\nEast Angelaton, ...",2599140130,james18@example.org,2023-11-11,Gastritis,Losartan
1,2,Patricia Oliver,"761 Lawson Knoll Suite 852\nContrerasstad, NJ ...",273.547.8667,nnguyen@example.org,2023-08-25,Anemia,Levothyroxine
2,3,Shannon Johnson,"34279 Harrell Plaza Apt. 220\nPeterborough, DE...",791-472-6509,thomas22@example.net,2023-01-23,Arthritis,Levothyroxine
3,4,Julia Brown,"29739 Thomas Route\nLawrencebury, PA 14298",687-333-8387x562,joshua49@example.com,2023-11-21,Diabetes,Metroprolol
4,5,David Santos,"44149 Andrew Plains\nEast Thomas, NH 21113",+1-602-471-9615x1145,chinton@example.com,2023-02-13,Asthma,Lisinopril

In [23]:
df_doctors.head(5)

,Doctor_ID,Name,Phone,Email,Specialization,Availability
0,1,Eric Miller,3795250042,emoore@example.com,Orthopedics,1
1,2,Heather Park,001-769-829-5279x5847,taylor28@example.net,Orthopedics,1
2,3,Caitlin Love,269-224-8209,michael34@example.net,Oncology,0
3,4,Crystal Bennett,304.237.2669x26006,kimberly95@example.com,Oncology,1
4,5,Michael Duke,(899)497-7668x846,dcoleman@example.com,Orthopedics,0

In [24]:
df_wards.head(5)

,Ward_ID,Doctor_ID,Name,Phone,Email
0,1,6,Andrew Salazar,293-457-3691x93857,mariacharles@example.com
1,2,12,Tiffany Haynes,+1-282-502-8497x00968,greeneric@example.net
2,3,14,Donald Moore,765.837.1711,fordkaren@example.org
3,4,15,Marvin Moore,(754)687-1383x8905,sotosylvia@example.net
4,5,1,Ryan Hernandez,695-992-2725x74784,lanesamantha@example.net

In [25]:
df_nurses.head(5)

,Nurse_ID,Doctor_ID,Name,Phone,Email
0,1,18,Kathryn White,+1-885-734-0765x82358,michael57@example.net
1,2,17,Michele Austin,001-302-860-9820x797,brandiramirez@example.net
2,3,10,Patrick Miller,(971)734-6220x78551,breed@example.net
3,4,3,Krystal Jackson,470-503-4110,pstewart@example.com
4,5,20,Holly Ross,821.585.9713,alisonstewart@example.net

In [26]:
df_care_assignments.head(5)

   CareProvider_ID CareProvider_Type  Patient_ID  Start_Date    End_Date
0               36           WardBoy          68  2023-01-29  2024-04-17
1                2           WardBoy          42  2023-05-26  2024-09-08
2               34           WardBoy          52  2023-01-30  2024-05-03
3               30           WardBoy          32  2023-11-18  2023-12-07
4               39           WardBoy          48  2022-12-07  2023-12-30

In [27]:
df_room.head(5)

   Room_Number    Type Date_Of_Status  Patient_ID
0            1  Single     2023-04-13          90
1            2  Deluxe     2023-06-08          58
2            3   Suite     2023-04-20           1
3            4  Double     2023-06-20           1
4            5   Suite     2023-07-14           1

In [28]:
df_payment.head(5)

   Payment_ID  Patient_ID  Amount Date_Of_Payment Payment_Method
0           1          14  205.23      2020-07-07           Cash
1           2          81  647.71      2022-07-03      E-banking
2           3           7  522.04      2020-07-14      E-banking
3           4          26  960.57      2022-10-24           Cash
4           5          58  244.38      2022-07-08           Cash

In [29]:
df_call_record.head(5)

,Call_ID,Patient_ID,Caller_Phone,Date_Time_Of_Call,Purpose,Description
0,1,49,562.976.4954,2022-11-11 17:32:21,Support,Base suggest yet manage director remain thousa...
1,2,42,814.661.7427,2023-01-11 19:45:47,Support,Example remember event less behind than argue....
2,3,59,+1-773-804-2841x98130,2021-12-22 07:43:31,Support,Play all own American country manage. Theory p...
3,4,75,+1-608-634-5788x53510,2022-05-25 18:02:53,Support,Billion heavy glass husband high compare. Mind...
4,5,18,592-593-2048x66262,2023-02-08 15:53:09,Support,Else mission star laugh leader. Purpose total ...

In [30]:
df_appointment.head(5)

   Appointment_ID  Patient_ID  Doctor_ID Appointment_DateTime          Reason
0               1          58          2           2024-07-01  [Consultation]
1               2          53          5           2024-02-09  [Consultation]
2               3          47          8           2024-07-31     [Emergency]
3               4          90         18           2024-01-14  [Consultation]
4               5          26         10           2024-07-25     [Emergency]